<!-- Cart display -->

{% extends "shop/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}




{% block styles %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'cart/css/styles.css' %}" >-->
<style>

    /* Style for table header */
    th.item-header {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block header %}
<h2>{% trans "Your shopping cart" %}</h2>
{% endblock header %}

{% block content %}
<div class="table-responsive">
<table class="table table-bordered" id="cart-list">
    <thead>
    <tr>
        <th class="item-header">{% trans "Product" %}</th>
        <th class="item-header">{% trans "Action" %}</th>
        <th class="item-header">{% trans "Description" %}</th>
        <th class="item-header">{% trans "Category" %}</th>
        <th class="item-header">{% trans "Quantity" %}</th>
        <th class="item-header">{% trans "Price (€)" %}</th>
        <th class="item-header">{% trans "Cost (€) without VAT" %}</th>
        <th class="item-header">{% trans "Cost (€) with VAT" %}</th>
        <th class="item-header">{% trans "Cost (₴) without VAT" %}</th>
        <th class="item-header">{% trans "Cost (₴) with VAT" %}</th>

    </tr>
    </thead>
    <tbody>

    {% for item in cart %}
    {% with product=item.product %}
    <tr>
        <td>{{ product.name }}</td>

        <td class="min-width-cell">
            <div class="btn-group">

                <a class="btn btn-primary btn-sm" href="{% url 'cart:cart_remove' product.id%}" title="{% trans 'Remove' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
                    </svg>
                </a>

                {% if product.axial %}
                    <a class="btn btn-warning btn-sm" href="{{ url_astra_shop.0 }}{{ product.axial }}{{ url_astra_shop.1 }}" title="{% trans 'Check availability' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                      <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                    </svg></a>
                {% else %}
                    <a class="btn btn-primary btn-sm" href="#" title="{% trans 'Check availability' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                      <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                    </svg></a>
                {% endif %}

            </div>

        </td>


        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
                <td>
                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}

                    <input type="number"  name="quantity" value={{ item.quantity }} min="0" max="100" step="1" >

                      {% csrf_token %}
                  </form>
                </td>


        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        <td>{{ item.cost_with_vat }}</td>
        <td>{{ item.cost_ua }}</td>
        <td>{{ item.cost_with_vat_ua }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
</table>
</div>

<div class="total">
    <p>
        {% blocktrans with total_price=cart.get_total_price total_cost_with_vat=cart.get_total_cost_with_vat %}
        Total (€) without VAT: {{total_price}} || with VAT: {{total_cost_with_vat}}
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans with total_cost_ua=cart.get_total_cost_ua total_cost_with_vat_ua=cart.get_total_cost_with_vat_ua %}
        Total (₴) without VAT: {{total_cost_ua}} || with VAT: {{total_cost_with_vat_ua}}
        {% endblocktrans %}
    </p>
</div>


<p class="text-left">

    <a href="{% url 'shop:product_search' %}" class="btn btn-primary">{% trans "Continue shoping" %}</a>
    <a href="{% url 'orders:draft_order_create' %}" class="btn btn-primary">{% trans "Order draft" %}</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-primary">{% trans "Checkout" %} </a>
</p>
{% endblock %}

{% block js_stuff %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Ukrainian.json"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $('#cart-list').dataTable({
                "price": [[0, "asc"]],
                "pageLength": 10,
                "lengthChange": false,
                "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Ukrainian.json"
            }
            });
        });

</script>
{% endblock js_stuff %}
