<!--Displays a form for changing the password.-->
{% extends "shop/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block header %}
<div class="container">
    <h2>{% trans "Change you password" %}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <p>{% trans "Use the form below to change your password." %}</p>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
             <button name="submit" class="btn btn-primary">{% trans 'Change' %}</button>
        {% endbuttons %}

    </form>
</div>
{% endblock content %}