{% extends "shop/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block header %}
<div class="container">
    <h2>{% trans "Reset your password" %}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% trans "Forgotten your password?" %}
    <p>{% trans "Enter your e-mail address to obtain a new password." %}</p>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
        <button name="submit" class="btn btn-primary">{% trans 'Send e-mail' %}
        </button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}