{% extends "shop/base.html" %}
{% load i18n %}
{% load bootstrap3 %}



{% block styles %}
<style>
/* Style for table header */
    th.item-header {
        background-color: #f2f2f2;
    }

.pager {
    display: flex; /* Використовуйте flex-контейнер для розміщення елементів в рядок */
    align-items: center; /* Вирівнюйте елементи вертикально по центру */
    margin: 0;
    padding: 0;
    list-style: none;
}

.pager li {
    margin: 0 5px; /* Додайте бажаний відступ між елементами */
}

.pager li.previous,
.pager li.next {
    display: inline-block;
}

/* Стилі для контейнера pagination-info */
.pagination-info {
    display: flex; /* Використовуйте flex-контейнер для розміщення інформації про сторінки */
    align-items: center; /* Вирівнюйте елементи вертикально по центру */
    font-size: 10px; /* Зменшіть розмір шрифту для інформації про сторінки */
}




</style>
{% endblock %}

{% block header %}
<h2>{% trans "Search products" %}</h2>
{% endblock header %}

{% block content %}
<div class="table-responsive">

{% if query %}
    <p>{% blocktrans %}Showing results for: {{ query }}{% endblocktrans %}</p>
{% endif %}

<div id="main" class="product-list">


    <!-- Добавляем форму для поиска -->
        <form class="form-inline" method="GET" action="{% url 'shop:product_search' %}">
            {% csrf_token %}
            <div class="form-group">
                <select class="form-control" name="category">
                    <option value="">{% trans "All" %}</option>
                    {% for category in categories %}
                        <option value="{{ category.slug }}" {% if category.slug == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="search" placeholder="{% trans 'Search' %}" value="{{ request.GET.search }}">
            </div>
            <button class="btn btn-default" type="submit">{% trans "Search" %}</button>
        </form>


    <table class="table table-bordered" id="pr-list">
        <thead>
            <tr>
                <th class="item-header" >{% trans "Product name" %}</th>
                <th class="item-header" >{% trans "Action" %}</th>
                <th class="item-header" >{% trans "Description" %}</th>
                <th class="item-header" >{% trans "Category" %}</th>
                <th class="item-header" >{% trans "Customer price (€)" %}</th>
                <th class="item-header" data-sortable="true">{% trans "Customer price (₴)" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in page_obj %}
                <tr>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                    <td class="min-width-cell">
                        <div class="btn-group">

                            <a class="btn btn-primary btn-sm" href="{% url 'shop:add_one_to_cart' product.id %}" title="{% trans 'Add one' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-xls" viewBox="0 0 16 16">
                                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </a>

                            {% if product.axial %}
                                <a class="btn btn-primary btn-sm" href="{{ url_astra_shop.0 }}{{ product.axial }}{{ url_astra_shop.1 }}" title="{% trans 'Check availability' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                                  <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                                </svg></a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="#" title="{% trans 'Check availability' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                                  <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                                </svg></a>
                            {% endif %}

                        </div>

                    </td>

                    <td>{{ product.description }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price_coef}}</td>
                    <td>{{ product.price_ua}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">{% trans "No results found." %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Добавляем пагинацию (вывод значений определенными частями) -->
    <ul class="pager">
    {% if page_obj.has_previous %}
        <li class="previous"><a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{% trans "Previous" %}</a></li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="next"><a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{% trans "Next" %}</a></li>
    {% endif %}

    <!-- Додайте клас "pagination-info" для відображення інформації про сторінки -->
    <li class="pagination-info">
        <span class="current-page">{{ page_obj.number }}</span>
        /
        <span class="total-pages">{{ page_obj.paginator.num_pages }}</span>
    </li>
</ul>
    </div>
</div>
</div>

{% endblock content %}