<!-- Template displayed after successful user registration -->
{% extends "shop/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block header %}
<div class="container">
    <!-- Display a personalized welcome message using the user's first name -->
    <h2>{% blocktrans with first_name=new_user.first_name %}Welcome {{ first_name }}!{% endblocktrans %}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <p>{% trans "Your account has been successfully created. Now you can" %}
    <a href="{% url 'account:login' %}">{% trans "log in" %}</a>.</p>
</div>
{% endblock content %}