/* Styles for base */

/* Style for the header dividers */
.divider-header {
  border-bottom: 1px solid #f58320;
  margin-bottom: 10px; /* Changed from padding-bottom */
}

.divider-subheader {
  border-bottom: 1px solid #337ab7;
  margin-bottom: 10px; /* Changed from padding-bottom */
}

.navbar-default .navbar-toggle {
    background-color: #F58320;
    border-color: #F58320;
}

.navbar-default .navbar-toggle:active {
    background-color: #F58320;
    border-color: #F58320;
}

.navbar-default .navbar-toggle:hover {
    background-color: #F58320;
    border-color: #F58320;
}

/* Adjusted alignment class */
.align-top {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-header {
  float: left;
}

.navbar-default {
  background-image: linear-gradient(to right, rgba(205, 205, 205, 0), rgba(205, 205, 205, 0.6));
  border: none;
}

@media (max-width: 767px) {
    .navbar-collapse.collapse ul.dropdown-menu {
        background-image: linear-gradient(to right, rgba(205, 205, 205, 0), rgba(205, 205, 205, 0.6));
    }
}


/* Content wrapper style */
.wrapper-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Display dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Button style in footer */
.footer .btn {
  border: none;
}


/* New styles for buttons and icons */
.button-with-icon svg {
    vertical-align: middle;
}

@media (max-width: 767px) {
    .button-with-icon .button-text {
        display: none;
    }

    /* Styles for small screens */
    .custom-dropdown-menu {
        right: 0;
        left: auto;
    }
}

@media (min-width: 768px) {
    .button-with-icon .button-text {
        display: inline-block;
        margin-left: 5px;
    }

    /* Styles for large screens */
    .custom-dropdown-menu {
        right: auto;
        left: 0;
    }
}

.navbar-logo {
        display: flex;
        align-items: center;

    }


