{% load i18n %}

<footer class="footer">
    <div class="text-left">
      <!--<h3>FOOTER</h3>-->


        <a href="#" data-toggle="modal" data-target="#documentation_modal" class="btn btn-default">
      {% trans "Documentation" %}</a>
      <a href="#" data-toggle="modal" data-target="#privacy_policy_modal" class="btn btn-default">
      {% trans "Privacy Policy" %}</a>
        <a href="#" data-toggle="modal" data-target="#contact_modal" class="btn btn-default">
      {% trans "Contacts" %}
      </a>
    </div>
</footer>