{% extends "shop/base.html" %}
{% load i18n %}


{% block indexcontent %}
{% if main_entry %}
         <div class="page-header divider-header">
             <h4>{% trans "STATUS" %}</h4>
         </div>
        {{ main_entry.text|safe }}
    {% else %}
    <!-- Content if the main entry is present on the home page -->
    {% endif %}
{% endblock indexcontent %}
{% block header %}

<h4>{% trans "BROADCAST MESSAGES" %}</h4>
{% endblock header %}

{% block content %}
{% for entry in entries %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
           {% trans "Date" %}: {{ entry.created|date:"d.m.Y" }}
        </h4>
    </div>
    <div class="panel-body">
        {{ entry.text|safe }}
    </div>
</div> <!-- panel -->
{% empty %}
<!-- Content if there are other messages (entries) on the home page -->
{% endfor %}
{% endblock content %}

{% block footer %}

    {% include 'shop/footer.html' %}
    {% include 'modal_windows/privacy_policy.html' %}
    {% include 'modal_windows/documentation.html' %}
    {% include 'modal_windows/contact.html' %}
    <hr>

{% endblock footer %}