{% extends "shop/base.html" %}
{% load i18n %}



{% block indexcontent %}
{% if main_entry %}
         <div class="page-header divider-header">
             <h4><strong>{% trans "STATUS" %}</strong></h4>
         </div>
        {{ main_entry.text|safe }}
    {% else %}
    <!-- Content if the main entry is present on the home page -->
    {% endif %}
{% endblock indexcontent %}
{% block header %}

<h4><strong>{% trans "BROADCAST MESSAGES" %}</strong></h4>
{% endblock header %}

{% block content %}
{% for entry in entries %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% trans "Date" %}: {{ entry.created|date:"d.m.Y H:i" }}

        </h4>

    </div>
    <div class="panel-body">
    {% if entry.text|wordcount > 50 %}
        {{ entry.text|linebreaks|truncatewords:50 }}

            <p><a href="{% url 'management_area:entry_detail' entry.id %}">{% trans "read more" %}</a></p>

    {% else %}
        {{ entry.text|linebreaks }}
    {% endif %}
</div>

{% empty %}

<p>{% trans "No entries yet." %}<p>
<!-- Content if there are other messages (entries) on the home page -->
{% endfor %}
{% endblock content %}

{% block footer %}

    {% include 'shop/footer.html' %}
    {% include 'modal_windows/privacy_policy.html' %}
    {% include 'modal_windows/documentation.html' %}
    {% include 'modal_windows/contact.html' %}
    <hr>

{% endblock footer %}