{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block styles %}
<style>
/* New styles for buttons and icons */
.button-with-icon svg {
    vertical-align: middle;
}

@media (max-width: 767px) {
    .button-with-icon .button-text {
        display: none;
    }

    /* Styles for small screens */
    .custom-dropdown-menu {
        right: 0;
        left: auto;
    }
}

@media (min-width: 768px) {
    .button-with-icon .button-text {
        display: inline-block;
        margin-left: 5px;
    }

    /* Styles for large screens */
    .custom-dropdown-menu {
        right: auto;
        left: 0;
    }
}
</style>
{% endblock %}


<div class="sidebar">
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <ul class="nav nav-tabs">
            <li class="active"><a class="button-with-icon" href="{% url 'shop:index' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                     height="16" fill="currentColor"
                     class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                </svg>
                <span class="button-text">{% trans "Home" %}</span>
            </a></li>
            <li><a class="button-with-icon" href="{% url 'shop:product_search' %}" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                     height="16" fill="currentColor"
                     class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                </svg>
                <span class="button-text">{% trans "Products" %}</span>
            </a></li>
            <li><a class="button-with-icon" href="{% url 'orders:orders' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                     height="16" fill="currentColor"
                     class="bi bi-file-earmark-spreadsheet"
                     viewBox="0 0 16 16">
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                </svg>
                <span class="button-text">{% trans "Orders" %}</span>
            </a></li>
            <li class="dropdown">
                <a class="button-with-icon" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor"
                         class="bi bi-journals" viewBox="0 0 16 16">
                        <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                        <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
                    </svg>
                    <span class="button-text">{% trans "Sets of order details" %}</span><span
                        class="caret"></span></a>
                <ul class="dropdown-menu custom-dropdown-menu {% if request.responsive_width > 767 %}dropdown-menu-left{% else %}dropdown-menu-right{% endif %}">
                    <li><a href="{% url 'account:template_list' %}">{% trans "Go to list" %}</a></li>
                    <li><a href="{% url 'account:create_template' %}">{% trans "Create new" %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                <a class="button-with-icon" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                    </svg>
                    <span class="button-text">
                        {% trans "Your cart" %}:
                        {% blocktrans with total_items=total_items total_price=cart.get_total_price %} {{ total_items }} ptc., € {{ total_price }} {% endblocktrans %}</span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu custom-dropdown-menu {% if request.responsive_width > 767 %}dropdown-menu-left{% else %}dropdown-menu-right{% endif %}">
                    <li><a href="{% url 'cart:cart_detail' %}">{% trans "Go to cart" %}</a></li>
                    <li><a href="{% url 'shop:download_products_in_cart' %}">{% trans "Download products to the cart" %}</a></li>
                </ul>
                {% else %}
                <a class="button-with-icon" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor" class="bi bi-cart3"
                         viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <span class="button-text">
                    {% trans "Your cart is empty." %}</span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu custom-dropdown-menu {% if request.responsive_width > 767 %}dropdown-menu-left{% else %}dropdown-menu-right{% endif %}">
                    <li><a href="{% url 'shop:download_products_in_cart' %}">{% trans "Download products to the cart" %}</a></li>
                </ul>
                {% endif %}
                {% endwith %}

            </li>
        </ul>
        {% else %}
        <!--Sidebar value if user is not logged in-->
        {% endif %}
    </div>
</div>
