<!-- Order details list template -->

{% extends "shop/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'order_template/css/styles.css' %}" >
{% endblock %}

{% block header %}
    <h2>{% trans "Sets of order details" %}</h2>
{% endblock header %}


{% block content %}
<div class="table-responsive">
{% if user_templates %}
    <table class="table table-bordered" id="template-list">
        <thead>
            <tr>
                <th class="item-header">{% trans "Number" %}</th>
                <th class="item-header">{% trans "Name" %}</th>
                <th class="item-header">{% trans "Action" %}</th>
                <th class="item-header">{% trans "Date added" %}</th>
                <th class="item-header">{% trans "Company" %}</th>
                <th class="item-header">{% trans "Stock" %}</th>
                <th class="item-header">{% trans "Responsible person" %}</th>
                <th class="item-header">{% trans "Address" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for template in user_templates %}
            <tr>
                <td>{{ template.id }}</td>
                <td >{{ template.name }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{% url 'account:edit_template' template.id %}" title="{% trans 'Edit' %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </a>
                </td>
                <td>{{ template.date_added|date:"d.m.Y" }}</td>
                <td>{{ template.user_company }}</td>
                <td>{{ template.stock.name }}</td>
                <td>{{ template.responsible_person }}</td>
                <td>{{ template.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "No sets of order details yet." %}</p>
{% endif %}

 </div>
{% endblock content %}

{% block js_stuff %}
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Ukrainian.json"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#template-list').dataTable({
            "name": [[0, "asc"]],
            "pageLength": 10,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Ukrainian.json"
            }
        });
    });
</script>
{% endblock %}